<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzit.mapper.SaleMapper" >

  <resultMap id="BaseResultMap" type="com.hzit.bean.Sale" >
    <id column="sale_Id" property="saleId" jdbcType="INTEGER" />
    <result column="customer_Id" property="customerId" jdbcType="INTEGER" />
    <result column="car_Id" property="carId" jdbcType="INTEGER" />
    <result column="emp_Id" property="empId" jdbcType="INTEGER" />
    <result column="company_Id" property="companyId" jdbcType="INTEGER" />
    <result column="sale_CurPrice" property="saleCurprice" jdbcType="DECIMAL" />
    <result column="sale_Num" property="saleNum" jdbcType="INTEGER" />
    <result column="sale_Type" property="saleType" jdbcType="VARCHAR" />
    <result column="sale_TotalPrice" property="saleTotalprice" jdbcType="DECIMAL" />
    <result column="sale_Time" property="saleTime" jdbcType="TIMESTAMP" />
  </resultMap>


  <resultMap id="BaseResultMap_Extend" type="com.hzit.bean.Sale" extends="BaseResultMap">
    <association property="customer" javaType="com.hzit.bean.Customer">
      <id column="customer_Id" property="customerId" jdbcType="INTEGER" />
      <result column="company_Id" property="companyId" jdbcType="INTEGER" />
      <result column="customer_Name" property="customerName" jdbcType="VARCHAR" />
      <result column="customer_Phone" property="customerPhone" jdbcType="VARCHAR" />
      <result column="customer_Sex" property="customerSex" jdbcType="VARCHAR" />
      <result column="customer_Type" property="customerType" jdbcType="VARCHAR" />
      <result column="customer_Birthday" property="customerBirthday" jdbcType="DATE" />
      <result column="customer_Create_Time" property="customerCreateTime" jdbcType="TIMESTAMP" />
    </association>
    <association property="employee" javaType="com.hzit.bean.Employee">
      <id column="emp_Id" property="empId" jdbcType="INTEGER"/>
      <result column="position_Id" property="positionId" jdbcType="INTEGER"/>
      <result column="company_Id" property="companyId" jdbcType="INTEGER"/>
      <result column="emp_Name" property="empName" jdbcType="VARCHAR"/>
      <result column="emp_Phone" property="empPhone" jdbcType="VARCHAR"/>
      <result column="emp_Password" property="empPassword" jdbcType="VARCHAR"/>
      <result column="emp_Salery" property="empSalery" jdbcType="DECIMAL"/>
    </association>
    <association property="car" javaType="com.hzit.bean.Car">
      <id column="car_Id" property="carId" jdbcType="INTEGER" />
      <result column="series_Id" property="seriesId" jdbcType="INTEGER" />
      <result column="car_Name" property="carName" jdbcType="VARCHAR" />
      <result column="car_Price" property="carPrice" jdbcType="DECIMAL" />
      <result column="car_Time" property="carTime" jdbcType="DATE" />
    </association>
  </resultMap>

  <sql id="Base_Column_List" >
    sale_Id, customer_Id, car_Id, emp_Id, company_Id, sale_CurPrice, sale_Num, sale_Type, 
    sale_TotalPrice, sale_Time
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sale
    where sale_Id = #{saleId,jdbcType=INTEGER}
  </select>

  <select id="selectByCompanyId" parameterType="java.lang.Integer" resultMap="BaseResultMap_Extend">
    SELECT
    s.sale_Id,
    s.customer_Id,
    s.car_Id,
    s.emp_Id,
    s.company_Id,
    s.sale_CurPrice,
    s.sale_Num,
    sale_Type,
    s.sale_TotalPrice,
    s.sale_Time,
    c.customer_Id,
    c.company_Id,
    c.customer_Name,
    c.customer_Phone,
    c.customer_Sex,
    c.customer_Type,
    c.customer_Birthday,
    c.customer_Create_Time,
    cr.car_Id,
    cr.series_Id,
    cr.car_Name,
    cr.car_Price,
    cr.car_Time,
    e.emp_Id,
    e.position_Id,
    e.company_Id,
    e.emp_Name,
    e.emp_Phone,
    e.emp_Salery
    FROM
    sale s,
    customer c,
    car cr,
    employee e
    WHERE
    s.customer_id = c.customer_id
    AND s.car_id = cr.car_id
    AND s.emp_id = e.`emp_Id`
    AND s.company_Id = #{companyId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sale
    where sale_Id = #{saleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hzit.bean.Sale" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into sale (sale_Id, customer_Id, car_Id, 
      emp_Id, company_Id, sale_CurPrice, 
      sale_Num, sale_Type, sale_TotalPrice, 
      sale_Time)
    values (#{saleId,jdbcType=INTEGER}, #{customerId,jdbcType=INTEGER}, #{carId,jdbcType=INTEGER}, 
      #{empId,jdbcType=INTEGER}, #{companyId,jdbcType=INTEGER}, #{saleCurprice,jdbcType=DECIMAL}, 
      #{saleNum,jdbcType=INTEGER}, #{saleType,jdbcType=VARCHAR}, #{saleTotalprice,jdbcType=DECIMAL}, 
      #{saleTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hzit.bean.Sale" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into sale
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="saleId != null" >
        sale_Id,
      </if>
      <if test="customerId != null" >
        customer_Id,
      </if>
      <if test="carId != null" >
        car_Id,
      </if>
      <if test="empId != null" >
        emp_Id,
      </if>
      <if test="companyId != null" >
        company_Id,
      </if>
      <if test="saleCurprice != null" >
        sale_CurPrice,
      </if>
      <if test="saleNum != null" >
        sale_Num,
      </if>
      <if test="saleType != null" >
        sale_Type,
      </if>
      <if test="saleTotalprice != null" >
        sale_TotalPrice,
      </if>
      <if test="saleTime != null" >
        sale_Time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="saleId != null" >
        #{saleId,jdbcType=INTEGER},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="carId != null" >
        #{carId,jdbcType=INTEGER},
      </if>
      <if test="empId != null" >
        #{empId,jdbcType=INTEGER},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="saleCurprice != null" >
        #{saleCurprice,jdbcType=DECIMAL},
      </if>
      <if test="saleNum != null" >
        #{saleNum,jdbcType=INTEGER},
      </if>
      <if test="saleType != null" >
        #{saleType,jdbcType=VARCHAR},
      </if>
      <if test="saleTotalprice != null" >
        #{saleTotalprice,jdbcType=DECIMAL},
      </if>
      <if test="saleTime != null" >
        #{saleTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hzit.bean.Sale" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update sale
    <set >
      <if test="customerId != null" >
        customer_Id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="carId != null" >
        car_Id = #{carId,jdbcType=INTEGER},
      </if>
      <if test="empId != null" >
        emp_Id = #{empId,jdbcType=INTEGER},
      </if>
      <if test="companyId != null" >
        company_Id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="saleCurprice != null" >
        sale_CurPrice = #{saleCurprice,jdbcType=DECIMAL},
      </if>
      <if test="saleNum != null" >
        sale_Num = #{saleNum,jdbcType=INTEGER},
      </if>
      <if test="saleType != null" >
        sale_Type = #{saleType,jdbcType=VARCHAR},
      </if>
      <if test="saleTotalprice != null" >
        sale_TotalPrice = #{saleTotalprice,jdbcType=DECIMAL},
      </if>
      <if test="saleTime != null" >
        sale_Time = #{saleTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where sale_Id = #{saleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hzit.bean.Sale" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update sale
    set customer_Id = #{customerId,jdbcType=INTEGER},
      car_Id = #{carId,jdbcType=INTEGER},
      emp_Id = #{empId,jdbcType=INTEGER},
      company_Id = #{companyId,jdbcType=INTEGER},
      sale_CurPrice = #{saleCurprice,jdbcType=DECIMAL},
      sale_Num = #{saleNum,jdbcType=INTEGER},
      sale_Type = #{saleType,jdbcType=VARCHAR},
      sale_TotalPrice = #{saleTotalprice,jdbcType=DECIMAL},
      sale_Time = #{saleTime,jdbcType=TIMESTAMP}
    where sale_Id = #{saleId,jdbcType=INTEGER}
  </update>
</mapper>